# Primary Dependencies
colorama==0.4.6
pymongo==4.11.3
PyYAML==6.0.2

# Packaging Dependencies
# black==25.1.0
# build==1.2.2.post1
# flake8==7.2.0
# packaging==24.2
# pip==25.0.1
# setuptools==75.3.0
# twine==6.1.0
# wheel==0.45.1

# Testing Dependencies
# pytest==8.3.5
# coverage==7.8.0
# pyflakes==3.3.2
# pytest-cov==6.0.0
# pytest-flakes==4.0.5
# pytest-spec==4.0.0

# Subdependencies
# certifi==2025.1.31
# charset-normalizer==3.4.1
# click==8.1.8
# dnspython==2.7.0
# docutils==0.21.2
# id==1.5.0
# idna==3.10
# iniconfig==2.1.0
# jaraco.classes==3.4.0
# jaraco.context==6.0.1
# jaraco.functools==4.1.0
# keyring==25.6.0
# markdown-it-py==3.0.0
# mccabe==0.7.0
# mdurl==0.1.2
# more-itertools==10.6.0
# mypy-extensions==1.0.0
# nh3==0.2.21
# pathspec==0.12.1
# platformdirs==4.3.7
# pluggy==1.5.0
# pycodestyle==2.13.0
# Pygments==2.19.1
# pyproject_hooks==1.2.0
# readme_renderer==44.0
# requests-toolbelt==1.0.0
# requests==2.32.3
# rfc3986==2.0.0
# rich==14.0.0
# urllib3==2.3.0